#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.for-noobs-section__bg {
  background-image: url('/images/sectionBgImage.svg');
  background-size: cover;
}

.for-noobs-section__bg:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #111827 50%, rgba(17, 24, 39, .65) 100%);
  z-index: 20;
}

.swiper {
  height: 400px;
  width: 400px;
  z-index: 20;
  overflow: visible !important;
}

.swiper-cards .swiper-slide {
  overflow: visible;
}

.content__max-width {
  max-width: 1120px;
}

.content__max-height {
  max-height: 800px;
}

/* footer */
.footer__icons:hover {
  filter: drop-shadow(0px 0px 15px #782BF1);
}

.footer__icons:hover path {
  transition: all .5s ease;
  fill: #782BF1;
}

.icon__bg-rounded {
  position: relative;
}

.icon__bg-rounded::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(2);
  border-radius: 50%;
  background-color: rgba(120, 43, 241, 0.1);
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 159px;
  }
  .for-noobs-section__bg {
    background-image: url('/images/sectionBgImage.svg');
    background-size:auto;
  }
  .for-noobs-section__bg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #111827 79%, rgba(17, 24, 39, 0) 100%);
    z-index: 20;
  }
  
  .header__container {
    max-height: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;