#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.for-noobs-section {
  max-height: 800px;
}

.for-noobs-section__bg {
  background-image: url('/images/sectionBgImage.svg');
}

.for-noobs-section__bg:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #111827 45.89%, rgba(17, 24, 39, .65) 100%);
  z-index: 20;
}

.swiper {
  height: 400px;
  width: 400px;
  z-index: 20;
}

.swiper-cards .swiper-slide {
  overflow: visible;
}

.header__container {
  max-height: 700px;
}

.content__max-width {
  max-width: 1500px;
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 159px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;